.container{
    border: 1px black solid;
    border-radius: 92px;

    &:hover{
        cursor: pointer;
        opacity: 0.9;
    }
    &:active{
        opacity: 0.8;
    }
}
.small{
    width: 120px;
    height: 35px;
}
.medium{
    width: 180px;
    height: 35px;
}