@import 'normalize.css';
:root {
    --primary: #5954D9;
    --acepted: #28a745;
    --warming: #dc3545;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
label{
    font-size: 18px;
}
button,
input,
textarea:focus,
[tabindex] {
    border: none;
    outline: none;
}
a[href] {
    text-decoration: none;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none; 
}

.cm-scroller{
    height: 300px;
}