.tool-button {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Căn đều các phần tử */
    width: 100%; /* Chiếm hết chiều rộng container */
    height:80px;
    padding: 12px 15px;
    border: 1px solid #ccc; /* Border */
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    font-size: 15px;
    color: #333;
    transition: background-color 0.2s ease;
  }
  
  .tool-button:hover {
    background-color: #f8f8f8;
  }
  
  .tool-icon {
      margin-right: 15px; /* Khoảng cách giữa icon và text */
       /* Thêm style cho icon nếu cần */
  }
  
  .tool-text {
      flex-grow: 1; /* Chiếm không gian còn lại */
      text-align: left;
  }
  
  .tool-arrow {
      font-size: 18px;
      color: #555; /* Màu mũi tên */
  }
